@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #231F20;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.btn {
  @apply py-2 px-6 rounded-full bg-tertiary text-lg font-medium hover:bg-tertiary-light;
}

.background-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/banner-lowres.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

/* Cuando la imagen de fondo está cargada, actualiza a la imagen de alta resolución */
.background-container.loaded {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/banner.webp');
}

.login-container{
  @apply flex justify-end items-center min-h-screen background-container;
}

.login-form {
  @apply mr-[17px] p-10 flex flex-col gap-6 bg-primary rounded-3xl shadow-custom;
}

.login-title {
  @apply text-xxl font-extrabold text-center
}

.login-buttons-container {
  @apply grid grid-cols-2 gap-2 place-items-center
}

.svg-size-override svg {
  @apply w-[28px] h-[28px]
}

/* NAVBAR */

.nav-container {
  @apply flex gap-12 items-center px-4 mt-6 mb-[30px]
}

.nav {
  @apply flex bg-secondary p-2 px-4 text-lg text-primary rounded-full justify-between w-full
}

.user-container {
  @apply flex items-center gap-1
}

/* CALENDAR */

.store-bar {
  @apply mb-[30px] flex justify-between items-center
}

.store-select-container {
  @apply relative flex items-center justify-between w-[544px] h-[52px] border-[3.5px] border-secondary rounded-full text-left cursor-pointer
}

.store-select {
  @apply flex items-center justify-between w-full h-full pl-[23px]
}

.expand-arrow-container svg {
  @apply w-[18px] h-[18px]
}

.store-dropdown {
  @apply absolute z-20 top-11 left-4 bg-primary border-[3.5px] border-secondary rounded-md w-[500px]
}

.store-option {
  @apply text-xl cursor-pointer hover:bg-secondary hover:text-primary p-2
}

.calendar {
  @apply grid grid-cols-7 gap-1;
}

.border-dotted {
  border-bottom: 1.5px dotted #718096;
}

.calendar-container {
  @apply w-[985px] border-[15px] border-secondary rounded-3xl
}

.calendar-nav {
  @apply flex items-center justify-between h-[50px] pl-[80px] text-md text-secondary font-bold
}

.calendar-talbe-container {
  @apply flex justify-center text-secondary text-center;
}

.calendar-cell {
  @apply h-[24px] w-[124px] border-l-[1.5px] border-secondary;
}

.calendar-cell-dotted{
  border: 1.5px solid;
  border-bottom: 1.5px dotted;
  border-right: 0;
  border-color: #88868B;
}

.calendar-first-column {
  @apply relative h-[24px] w-[80px];
}

.calendar-last-column {
  @apply relative h-[24px] w-[134px] border-l-[1.5px] border-secondary;
}

.calendar-first-column::after {
  content: '';
  position: absolute;
  top: -1px;
  right: 0;
  width: 10%;
  height: 1.5px;
  background: #88868B;
}



