@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #231F20;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.btn {
  @apply py-2 px-6 rounded-full bg-tertiary text-lg font-medium hover:bg-tertiary-light;
}

.background-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/banner_lowres.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

/* Cuando la imagen de fondo está cargada, actualiza a la imagen de alta resolución */
.background-container.loaded {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/banner.webp');
}

.login-container{
  @apply flex justify-end items-center min-h-screen background-container;
}

.login-form {
  @apply mr-[17px] p-10 flex flex-col gap-6 bg-primary rounded-3xl shadow-custom;
}

.login-title {
  @apply text-xxl font-extrabold text-center
}

.login-buttons-container {
  @apply grid grid-cols-2 gap-2 place-items-center
}

.svg-size-override svg {
  @apply w-[28px] h-[28px]
}

.nav-container {
  @apply flex gap-12 items-center px-12 mt-6
}

.nav {
  @apply flex bg-secondary p-2 px-4 text-lg text-white rounded-full justify-between w-full
}

.user-container {
  @apply flex items-center gap-1
}
